* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

/* TOP NAVIGATOR */
.topNav {
    /* background-color: aquamarine; */
    border: solid #000000 3px;
    height: 19vh;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.topNavLeft {
    /* background-color: palevioletred; */
    /* border: solid black 5px; */
    height: 15vh;
    width: 25vw;
}

#logoImgClubs {
    height: 13vh;
    width: 10vw;
}


/* --@@-- Middle of the top nav bar --@@--   */
.topNavMiddle {
    /* background-color: lightblue; */
    /* border: solid black 3px; */
    height: 15vh;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282A35;
    color: white;
    position: relative;
}

.ribbonMiddle {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(25deg);
    background-color: #ff9800;
    color: white;
}



/* --@@-- Right side of top nav --@@-- */
.topNavRight {
    /* background-color: green; */
    /* border: solid orange 5px; */
    height: 15vh;
    width: 25vw;
    padding: 20px;
    position: relative;
}

#musicBarContainer {
    position: relative;
}

#musicBar {
    margin-top: 10px;
    border: solid;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282A35;
    color: white;
    width: 100%;
    position: relative;
    z-index: 1;
    /* Lower z-index for the audio tag */
}

#musicBarContainer .rightRibbon {
    width: 100px;
    font-size: 20px;
    padding: 4px;
    position: absolute;
    right: -35px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: orange;
    color: white;
    z-index: 2;
    /* Higher z-index for the ribbon */
}

/* END TOP NAVIGATOR */



/* Start of Hero section */
.heroBox {
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* border: solid black 5px; */
}

.titleBox {
    background-color: cadetblue;
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.titleLeft {
    color: #ff9800;
}

.titleRight {
    color: black;
}

/* --@@-- Test */
.imageTitleContainer {
    background-image: url("images/king_street_12_24_2023.jpeg");
    background-size: cover;
    position: relative;
    height: 300px;
    width: 100%;
    border-image-width: 20dvw;
}

.titleText {
    background-color: black;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

/* End of Hero section */



/* --@@-- Start of MAIN --@@-- */
/* Callout box - fixed position at the bottom of the page */

.callout {
    position: fixed;
    bottom: 35px;
    left: 20px;
    margin-left: 20px;
    max-width: 300px;
}

/* Callout header */
.callout-header {
    padding: 25px 15px;
    background: black;
    font-size: 30px;
    color: white;
}

/* Callout container/body */
.callout-container {
    padding: 15px;
    background-color: lightskyblue;
    color: black
}

/* Close button */
.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
    color: lightgrey;
}


.main {
    /* background-color: yellow; */
    height: 120vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: solid black 10px;
}

/* Start main body LEFT side  */
.mainBodyLeft {
    /* background-color: chartreuse; */
    /* height: 15vh; */
    width: 20vw;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: absolute;
    /* top: 50%; */
    /* -webkit-transform: translateY(-50%); */
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    border: solid black 3px;
  }

  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  .facebook {
    background: #3B5998;
    color: white;
  }

  .twitter {
    background: #55ACEE;
    color: white;
  }

  .google {
    background: #dd4b39;
    color: white;
  }

  .linkedin {
    background: #007bb5;
    color: white;
  }

  .youtube {
    background: #bb0000;
    color: white;
  }


/*  --@@-- END main body LEFT side  */

/* CONNECT */

/*  --@@-- Start main body MIDDLE side  */
.mainBodyMiddle {
    background-color: darkkhaki;
    /* height: 15vh; */
    width: 55vw;
}

/* Remove dots from the unordered list */
.mainBodyMiddle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the anchor tags */
.mainBodyMiddle ul li.statsPlacement a {
    text-decoration: none;
    /* Remove underline */
    color: #333;
    /* Set the text color */
    display: block;
    /* Make the entire area clickable */
    padding: 10px;
    /* Add padding for better click area */
    border-bottom: 1px solid #ddd;
    /* Add a bottom border for separation */
}

/* Style for the last anchor to remove the bottom border */
.mainBodyMiddle ul li.statsPlacement:last-child a {
    border-bottom: none;
}

/* Hover effect for the anchor tags */
.mainBodyMiddle ul li.statsPlacement a:hover {
    background-color: #f0f0f0;
    /* Change background color on hover */
}

/*  --@@-- End main body MIDDLE side  */


/* CONNECT */

/*  --@@-- Start main body RIGHT side  */
.mainBodyRight {
    /* background-color: deeppink; */
    /* height: 15vh; */
    width: 20vw;
}

/* --@@-- END of MAIN --@@-- */
