* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* left LogoBar */
.topNavBar {
    /* border: solid pink 5px; */
    /* border-radius: 5px; */
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* height: 20vh; */
    /* width: 80vw; */

}

.innerTopNavBar {
    display: flex;
    /* border: solid black 10px; */
    border-radius: 5px;
    justify-content: space-between;
    width: 75vw;
    height: 23vh;
    align-items: center;
}

#sizeUpImg {
    height: 20vh;
}

#sizeUpImg {
    transition: transform 0.3s ease-in-out;
}

#sizeUpImg:hover {
    transform: scale(1.1);
}

/* ---@@-- DIV --@@--- */

/* middle LogoBar */
.topNavMenuBar {
    /* border: solid blueviolet 5px; */
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#menuList {
    /* border: solid black 5px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

#optBorder {
    border: solid black 3px;
    box-shadow: 6px 9px 8px;
    /* background-color: black; */
    border-radius: 5px;
}

#optBorder {
    transition: transform 0.3s ease-in-out;
}

#optBorder:hover {
    background-color: white;
    transform: scale(1.1);
}



/* ---@@-- DIV --@@--- */
/* RIGHT SIDE OF NAVBAR */
.topNavActionsBar {
    display: flex;
    /* justify-content: space-between; */
    /* height: 30px; */
    /* border: saddlebrown solid 10px; */
    /* padding: 5px; */
}

.diffActionBar {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10px;

    /* border: black solid 5px; */
    /* border-radius: 5px; */
}

#searchInput,
#datetimeInput {
    border: solid black 3px;
    box-shadow: 6px 9px 8px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#searchInput:hover,
#datetimeInput:hover {
    background-color: white;
    transform: scale(1.1);
}




/* ---@@-- DIV --@@--- */
/* Upper Body Div */

.aboveMainBody {
    display: flex;
    justify-content: center;
    /* border: orange solid 3px; */
    gap: 8px;
}

.titleLeft {
    color: #dc7a53;
    /* border: solid black 3px; */
}

/* .titleRight{

} */




/* ---@@-- STYLE UNDERLINE --@@--- */
/* Lines under each tag (logo, Li, inputs, and h1 tag ) */
.topNavMenuBar,
.diffActionBar {
    border-bottom: 3px solid orange;
    padding-bottom: 15px;
}

h1 {
    border-bottom: 3px solid orange;
    padding-bottom: 1px;
}

/* ---@@-- STYLE UNDERLINE --@@--- */
/* Lines under each tag (logo, Li, inputs, and h1 tag ) */





/* ---@@-- DIV --@@--- */
/* Main Body Start div */
.mainBody {
    display: flex;
    justify-content: space-between;

    background-color: aqua;
    height: 200vh;
    /* width: 400vw; */
}
.innerMainBodyLeft {
    /* display: flex; */
    /* flex-direction: column; */
    /* border: solid black 1px; */
    background-color: #dc7a53;
    height: 50vh;
    width: 15vw;
}
.innerMainBodyMiddle {
    background-color: yellowgreen;
    height: 50vh;
    width: 60vw;
}
.innerMainBodyRight {
    background-color: plum;
    height: 50vh;
    width: 15vw;
}
/* Main Body End div */
/* ---@@-- DIV --@@--- */


/* Inner main body Div Edits */







/* ---@@-- DIV --@@--- */
/* The Logo on the TOP LEFT will Shake! */
#sizeUpImg:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



/* ---@@-- DIV --@@--- */
