@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
	font-family: Lato, sans-serif;
}

/* Default styles for light mode */
body {
    background-color: white;
    color: black;
}
/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: white;
}
#looks {
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 6px 9px 8px;
}


/* left LogoBar */
.topNavBar {
    /* border: solid pink 5px; */
    /* border-radius: 5px; */
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* height: 20vh; */
    /* width: 80vw; */

}

.innerTopNavBar {
    display: flex;
    /* border: solid black 10px; */
    border-radius: 5px;
    justify-content: space-between;
    width: 80vw;
    height: 23vh;
    align-items: center;
}

#sizeUpImg {
    height: 20vh;
}

#sizeUpImg {
    transition: transform 0.3s ease-in-out;
}

#sizeUpImg:hover {
    transform: scale(1.1);
}

/* ---@@-- DIV --@@--- */

/* middle LogoBar */
.topNavMenuBar {
    /* border: solid blueviolet 5px; */
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#menuList {
    /* border: solid black 5px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

#optBorder {
    border: solid black 3px;
    box-shadow: 6px 9px 8px;
    /* background-color: black; */
    border-radius: 5px;
}

#optBorder {
    transition: transform 0.3s ease-in-out;
}

#optBorder:hover {
    background-color: white;
    transform: scale(1.1);
}



/* ---@@-- DIV --@@--- */
/* RIGHT SIDE OF NAVBAR */
.topNavActionsBar {
    display: flex;
    /* justify-content: space-between; */
    /* height: 30px; */
    /* border: saddlebrown solid 10px; */
    /* padding: 5px; */
}

.diffActionBar {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 10px;

    /* border: black solid 5px; */
    /* border-radius: 5px; */
}

#searchInput,
#datetimeInput {
    border: solid black 3px;
    box-shadow: 6px 9px 8px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#searchInput:hover,
#datetimeInput:hover {
    background-color: white;
    transform: scale(1.1);
}




/* ---@@-- DIV --@@--- */
/* Upper Body Div */

.aboveMainBody {
    display: flex;
    justify-content: center;
    /* border: orange solid 3px; */
    gap: 8px;
}

.titleLeft {
    color: #dc7a53;
    /* border: solid black 3px; */
}

/* .titleRight{

} */




/* ---@@-- STYLE UNDERLINE --@@--- */
/* Lines under each tag (logo, Li, inputs, and h1 tag ) */
.topNavMenuBar,
.diffActionBar {
    border-bottom: 3px solid orange;
    padding-bottom: 15px;
}

h1 {
    border-bottom: 3px solid orange;
    padding-bottom: 1px;
}

/* ---@@-- STYLE UNDERLINE --@@--- */
/* Lines under each tag (logo, Li, inputs, and h1 tag ) */





/* ---@@-- DIV --@@--- */
/* Main Body Start div */
.mainBody {
    display: flex;
    justify-content: space-between;

    /* background-color: aqua; */
    height: 200vh;
    /* width: 400vw; */
}
.innerMainBodyLeft {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: #dc7a53; */
    height: 50vh;
    width: 16.5vw;
}
.innerMainBodyMiddle {
    /* background-color: yellowgreen; */
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    border-left: #dc7a53 solid 5px;
    border-right: #dc7a53 solid 5px;
}
.innerMainBodyRight {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: #dc7a53; */
    height: 50vh;
    width: 16.5vw;
}
/* Main Body End div */
/* ---@@-- DIV --@@--- */



/* ---@@-- DIV --@@--- */
/* Inner main body Div Edits START*/
.startWalkingHere {
    /* background-color: plum; */
    height: 25vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* gap: 20px; */
    /* border: black solid 5px; */
    margin-top: 20px;

}
.startWalkingHere img {
    height: 16vh;
    width: 20vw;
    border: orangered solid 5px;

}
.googleMapsEdit {
    border: black solid 5px;
    height: 41vh;
    margin-top: 20px;
}
/* Inner main body Div Edits END*/
/* ---@@-- DIV --@@--- */


/* ---@@-- DIV --@@--- */
.adRev {
    border: orangered solid 5px;
    height: 35vh;
    width: 17vw;
    /* margin: 5px; */
}
.adPicReSize {
    height: 31vh;
    width: 16vw;
}
.adPicReSize2 {
    height: 31vh;
    width: 16vw;
}
/* ---@@-- DIV --@@--- */

/* ---@@-- DIV --@@--- */
/* The Logo on the TOP LEFT will Shake! */
#sizeUpImg:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



/* ---@@-- DIV --@@--- */
